html{
  background-color: #141616;
  font-family: 'Open Sans', sans-serif;
  color: #dfe6e9;

}

body{
  padding-top: 10rem;
}

.titre{
  padding-left: 20%;
}

.verticalCenter{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 75px;
  margin-bottom: 0%;
}
.header p{
  text-align: center;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  text-decoration: none;
  color: #dfe6e9;
}

.header h3{
  font-size: 30px;
}

.shrug{
  font-weight: 500;
  font-size: 20px;
  color: #00b894;
  margin: 0%;
}

.projects{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20%;
}

.text{
  text-align: center;
}
.blog{
  
}

.content{
  padding-left: 10rem;
  padding-right: 10rem;
}

.blogpost{
  display:block
}

.project{
  border: 4px;
  border-style: outset;
  border-top-style: none;
  border-right-style: none;
  border-color: #b8bdbe;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  transition: all .15s ease;
}

hr{
  background-color: rgba(0,184,148,1);
}

.project:hover{
  transform: translate(6px, -6px);
  box-shadow: -9px 10px 0px 0px rgba(0,184,148,1);
  
}

p{
  text-align: justify;
}

.gcoin{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.ngen{
  height: 100px;
  width: 210px;
  border-radius: 10%;
}