html{
  background-color: #2d3436;
  font-family: 'Open Sans', sans-serif;
  color: #dfe6e9;

}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 75px;
  margin-bottom: 0%;
}
.header p{
  text-align: center;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:visited, a:hover, a:focus {
  text-decoration: none;
  color: #dfe6e9;
}

.header h3{
  font-size: 30px;
}

.shrug{
  font-weight: 900;
  font-size: 50px;
  color: #00b894;
  margin: 0%;
}

.projects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project{
  border: 5px;
  border-style: outset;
  border-color: #515455;
  padding: 10px;
  display: flex;
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
  transition: all .15s ease;
}

.project:hover{
  transform: translate(6px, -6px);
  box-shadow: -9px 10px 0px 0px rgba(0,184,148,1);
}

p{
  text-align: justify;
}

.gcoin{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.ngen{
  height: 100px;
  width: 210px;
  border-radius: 10%;
}