<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <h3 class="section-subheading text-muted">Put as much details as you can while describing what you want me to do.</h3>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                    <form id="contact-form" name="contact-form" action="https://formspree.io/xrgyqbqd" method="POST">

                        <!--Grid row-->
                        <div style="padding: 10px; width: 69%;" class="row">
        
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input placeholder="* Your name" type="text" id="name" name="name" class="form-control" required>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div style="padding: 10px; width: 35.5%;" class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input placeholder="* Your E-mail" type="email" id="subject" name="_replyto" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div style="padding: 10px;" class="row">
        
                            <!--Grid column-->
                            <div class="col-md-12">
        
                                <div class="md-form">
                                    <textarea style="height: 200px;" type="text" placeholder="* Your message" id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                                </div>
        
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center text-md-left">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>

                    <div class="status"></div>
                </div>
            </div>
        </div>
    </div>
</section>
